<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
</head>

<body>
	<div class="main-panel">
		<header class="header">
			<h1>CC Watcher</h1>
		</header>
		<div class="content">
			<div class="row">
				<div class="col-12">
					<div class="card" id="BTC">
						<div class="coin-logo">
							<img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/btc.png" alt="">
						</div>
						<div class="coin-data">
							<span class="coin-market"></span>
							<h2 class="coin-name">Bitcoin (BTC)</h2>
							<p class="coin-price"></p>
							<p class="coin-pos"></p>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12">
					<div class="card" id="ETH">
						<div class="coin-logo">
							<img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/eth.png" alt="">
						</div>
						<div class="coin-data">
							<span class="coin-market"></span>
							<h2 class="coin-name">Ethereum (ETH)</h2>
							<p class="coin-price"></p>
							<p class="coin-pos"></p>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12">
					<div class="card" id="LTC">
						<div class="coin-logo">
							<img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/ltc.png" alt="">
						</div>
						<div class="coin-data">
							<span class="coin-market"></span>
							<h2 class="coin-name">Litecoin (LTC)</h2>
							<p class="coin-price"></p>
							<p class="coin-pos"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<div class="card" id="XMR">
						<div class="coin-logo">
							<img src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/128/color/xmr.png" alt="">
						</div>
						<div class="coin-data">
							<span class="coin-market"></span>
							<h2 class="coin-name">Monero (XMR)</h2>
							<p class="coin-price"></p>
							<p class="coin-pos"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>
